.mdc-drawer-sidebar-header{
  position: relative;
  color: white;
  background-color: var(--mdc-theme-primary);
  display: flex;
  border-radius: $sidebar-planned-actions-border-radius;

  .mdc-drawer-sidebar-header-title{
    position: relative;
    text-align: right;
    padding-right: $sidebar-planned-actions-title-right-centering;
    width: 100%;
  }

  .mdc-drawer-sidebar-header__button{
    position: relative;
    height: auto;
    color: white !important;
    margin: $sidebar-planned-actions-button-margin;
    font-weight: bold;
  }
}

.mdc-drawer-sidebar-content{
  position: relative;
  text-align: center;
  width: 100%;
  background-color: white;
}

.mdc-drawer-sidebar-apply-button{
  position: relative;
  background-color: var(--mdc-theme-primary);
  color: white !important;
  text-transform: none;
  letter-spacing: 0;
  width: 100%;
  height: $sidebar-apply-button-height;
  line-height: 100%;
  border-radius: $sidebar-apply-border-radius;
  font-size: $sidebar-apply-font-size;
  font-weight: bold;
}

.mdc-drawer-sidebar-container{
  height: 100%;
  transition: $sidebar-transition-duration-large-screen;
}

.mdc-drawer-sidebar--displayed{
  position: absolute;
  right: 0%;
  top: 0%;
  width: $sidebar-width;
}

.mdc-drawer-sidebar--hidden{
  position: absolute;
  right: $sidebar-hidden-displacement-large-screen;
  top: 0%;
  width: $sidebar-width;
}

@media screen and (min-width: 351px) and (max-width: 600px) {
  .mdc-drawer-sidebar--hidden {
    right: $sidebar-hidden-displacement-medium-screen;
    transition: $sidebar-transition-duration-medium-screen;
  }
}

@media screen and (min-width: 251px) and (max-width: 350px) {
  .mdc-drawer-sidebar--hidden {
    right: $sidebar-hidden-displacement-small-screen;
    transition: $sidebar-transition-duration-small-screen;
  }
}

@media screen and (max-width: 250px) {
  .mdc-drawer-sidebar--hidden {
    right: $sidebar-hidden-displacement-tiny-screen;
    transition: $sidebar-transition-duration-tiny-screen;
  }
}





