@use '@material/drawer';

@include drawer.core-styles;

.sidebar-header{
  @include drawer.surface-fill-color(var(--mdc-theme-primary));

  color: white;
  display: flex;
  border-radius: $sidebar-planned-actions-border-radius;

}

.sidebar-header-button{
  margin: $sidebar-planned-actions-button-margin;
  font-weight: bold;
}

.sidebar-header-title{
  text-align: right;
  padding-right: $sidebar-planned-actions-title-right-centering;
  width: 100%;
}

.sidebar-content{
  @include drawer.surface-fill-color(var(--mdc-theme-background));
}

.sidebar-footer-button{
  @include drawer.surface-fill-color(var(--mdc-theme-primary));

  color: white;
  width: 100%;
  height: $sidebar-apply-button-height;
  line-height: 100%;
  border-radius: $sidebar-apply-border-radius;
  font-size: $sidebar-apply-font-size;
  font-weight: bold;
}

.mdc-drawer--displayed {
  position: absolute;
  right: 0%;
  top: 0%;
  width: $sidebar-width;
  height: 100%;
  transition: $sidebar-transition-duration;

}
.mdc-drawer--hidden{
  position: absolute;
  right: $sidebar-hidden-displacement;
  top: 0%;
  width: $sidebar-width;
  height: 100%;
  transition: $sidebar-transition-duration;
}