.mdc-drawer-sidebar-header{
  position: relative;
  color: white;
  background-color: var(--mdc-theme-primary);
  display: flex;
  border-radius: $sidebar-planned-actions-border-radius;

  .mdc-drawer-sidebar-header-title{
    position: relative;
    text-align: right;
    padding-right: $sidebar-planned-actions-title-right-centering;
    width: 100%;
  }

  .mdc-drawer-sidebar-header__button{
    position: relative;
    height: auto;
    color: white;
    margin: $sidebar-planned-actions-button-margin;
    font-weight: bold;
  }
}

.mdc-drawer-sidebar-list{
  margin: 35px 40px 0px 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.mdc-drawer-sidebar-list-item{
  border: 2px solid #F2F5F7;
  border-radius: 10px;
  background-color: white;
  padding: 20px; // 105px 20px 20px;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
}


.mdc-drawer-sidebar-list-item-text{
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 6px;
  color: var(--mdc-theme-on-surface);
  font-size: 14px;
  line-height: 24px;
  align-items: flex-start;
}

.mdc-drawer-sidebar-list-item-text-name{
  font-weight: bold;
}

.mdc-drawer-sidebar-list-item-delete-icon{
  flex: 2;
  position: absolute;
  right: 11px;
  top: 11px;
  color: #4A4A4A
}

.mdc-drawer-sidebar-list-item-delete-icon:hover{
  color: #000000;
}

.mdc-drawer-sidebar-content{
  position: relative;
  width: 100%;
  background-color: #FAFBFC;
  height: 80vh;
}



.mdc-drawer-sidebar .mdc-sidebar-sidebar-footer .mdc-drawer-sidebar-apply-button{
  position: relative;
  background-color: var(--mdc-theme-primary);
  color: white;
  text-transform: none;
  letter-spacing: 0;
  width: 100%;
  height: $sidebar-apply-button-height;
  line-height: 100%;
  border-radius: $sidebar-apply-border-radius;
  font-size: $sidebar-apply-font-size;
  font-weight: bold;
}

.mdc-drawer__drawer{
  display: flex;
  flex-direction: column;
}

.mdc-drawer-sidebar-container{
  height: 100%;
  transition: $sidebar-transition-duration-large-screen;
}

.mdc-drawer-sidebar--displayed{
  position: absolute;
  right: 0;
  top: 0;
  width: $sidebar-width;
}

.mdc-drawer-sidebar--hidden{
  position: absolute;
  right: $sidebar-hidden-displacement;
  top: 0;
  width: $sidebar-width;
}
