{
  "extends": [
    "react-app",
    "prettier"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error",
    "react/sort-comp": 2,
    "react/jsx-no-bind": 2,
    "arrow-body-style": ["error", "as-needed"],
    "no-console": 2,
    "eqeqeq": ["error", "always"],
    "@typescript-eslint/no-unused-vars": 0,
    "no-duplicate-imports": 0,
    "import/no-duplicates": 2,
    "prefer-const": ["error"]
  }
}
