# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea/codeStyles
.idea/markdown-navigator
.idea/markdown-navigator.xml
.idea/workspace.xml
misc/
.eslintcache

npm-debug.log*
pnpm-debug.log*
pnpm-error.log*
/src/api
/src/google
