; this allows pnpm to hoist the dependencies into the root of `node_modules`
; it's required for `@material/*` imports to work.
; read more: https://pnpm.io/npmrc#shamefully-hoist
shamefully-hoist=true
