bin
tmp/
services/cd-service/repository_checkedout
services/cd-service/repository_checked_out
services/cd-service/repository_remote
services/cd-service/repository
services/cd-service/environment_configs.json
database/db.sqlite
.DS_Store
.install
.idea/
.*.sentinel
.pnpm-store
build/
.tmp-earthly-out
services/**/coverage.html
pkg/coverage.html
cli/coverage.html

# used by envrc https://direnv.net/
.envrc
charts/kuberpult/kuberpult-keyring.gpg
charts/kuberpult/manifests/
known_hosts_github
repository_checked_out
repository_remote
services/cd-service/client
services/cd-service/host
services/cd-service/known_hosts
services/cd-service/repository_checked_out/
CHANGELOG.tmp.md
vendor/
