bin
tmp/
services/cd-service/repository_checkedout
services/cd-service/repository_checked_out
services/cd-service/repository_remote
services/cd-service/repository
services/cd-service/environment_configs.json
services/manifest-repo-export-service/pkg/service/repository_tags
services/frontend-service/.cache/
services/frontend-service/.local/
database/db.sqlite
.DS_Store
.install
.idea/
.vscode/
.*.sentinel
.pnpm-store
build/
.tmp-earthly-out
services/**/coverage*.html
services/**/coverage*.out
pkg/coverage.html
pkg/coverage.out
cli/coverage.html
cli/coverage.out

charts/kuberpult/kuberpult-keyring.gpg
charts/kuberpult/manifests/
known_hosts_github
repository_checked_out
repository_remote
services/cd-service/client
services/cd-service/host
services/cd-service/known_hosts
services/cd-service/repository_checked_out/
CHANGELOG.tmp.md
vendor/
docker.env

# local setup
.direnv
.envrc.local