services:
  swagger-ui:
    image: swaggerapi/swagger-ui:latest
    ports:
      - "80:8080"
    environment:
      QUERY_CONFIG_ENABLED: true # this is to allow using the query parameter "url"
    depends_on:
      - cd-service
