services:
  backend:
    build: infrastructure/docker/backend
    container_name: kuberpult-cd-service
    ports:
      - "8080:8080"
      - "8443:8443"
    volumes:
      - .:/kp/kuberpult
  frontend:
    build: infrastructure/docker/frontend
    container_name: kuberpult-frontend-service
    environment:
      - KUBERPULT_CDSERVER=kuberpult-cd-service:8443
    ports:
      - "8081:8081"
    depends_on:
      - backend
    volumes:
      - .:/kp/kuberpult
  ui:
    build: infrastructure/docker/ui
    container_name: kuberpult-ui
    environment:
      - NODE_ENV=development
      - CHOKIDAR_USEPOLLING=true
    ports:
      - "3000:3000"
    depends_on:
      - frontend
    volumes:
      - .:/kp/kuberpult
