services:
  cd-service:
    build:
      context: .
      dockerfile: services/cd-service/Dockerfile
      args:
        - UID=$USER_UID
        - DIR=services/cd-service
        - PARENT_CONTAINER=latest
    environment:
      - LOG_LEVEL=INFO
      - KUBERPULT_GIT_URL=/kp/kuberpult/repository_remote
      - KUBERPULT_GIT_BRANCH=master
      - KUBERPULT_DEX_MOCK=false
      - KUBERPULT_DEX_ENABLED=false
      - KUBERPULT_GIT_NETWORK_TIMEOUT=3s
      - KUBERPULT_GIT_WRITE_COMMIT_DATA=true
    ports:
      - "8080:8080"
      - "8443:8443"
    volumes:
      - ./services/cd-service:/kp/kuberpult
    stop_grace_period: 0.5s
  frontend-service:
    build:
      context: .
      dockerfile: services/frontend-service/Dockerfile
      args:
        - UID=$USER_UID
        - PARENT_CONTAINER=latest
    # Note: this `container_name` needs to be the same as in `package.json`
    container_name: kuberpult-frontend-service
    environment:
      - KUBERPULT_CDSERVER=cd-service:8443
      - KUBERPULT_CD_SERVER_SECURE=false
      - LOG_LEVEL=INFO
      - KUBERPULT_ALLOWED_ORIGINS=localhost:*
      - KUBERPULT_GIT_AUTHOR_NAME=user-local-dev-docker-compose
      - KUBERPULT_GIT_AUTHOR_EMAIL=user-local-dev@example.com
      - KUBERPULT_ARGOCD_BASE_URL=https://cd.dev.freiheit.systems/
      - KUBERPULT_ARGOCD_NAMESPACE=tools
      - KUBERPULT_SOURCE_REPO_URL=https://github.com/freiheit-com/kuberpult/commit/{commit}
      - KUBERPULT_MANIFEST_REPO_URL=https://github.com/freiheit-com/fdc-standard-setup-dev-env-manifest/tree/{branch}/{dir}
      - KUBERPULT_GIT_BRANCH=main
    ports:
      - "8081:8081"
    depends_on:
      - cd-service
    volumes:
      - .:/kp/kuberpult
    stop_grace_period: 0.5s
  ui:
    build:
      context: infrastructure/docker/ui
      args:
        - UID=$USER_UID
    container_name: kuberpult-ui
    ports:
      - "3000:3000"
    depends_on:
      - frontend-service
    volumes:
      - .:/kp/kuberpult
    stop_grace_period: 0.5s
