services:
  cd-service:
    image: europe-west3-docker.pkg.dev/fdc-public-docker-registry/kuberpult/kuberpult-cd-service:local
    environment:
      - LOG_LEVEL=INFO
      - KUBERPULT_GIT_URL=/kp/kuberpult/repository_remote
      - KUBERPULT_GIT_BRANCH=master
      - KUBERPULT_GIT_NETWORK_TIMEOUT=3s
      - KUBERPULT_DEX_MOCK=false
      - KUBERPULT_DEX_ENABLED=false
      - KUBERPULT_GIT_WRITE_COMMIT_DATA=true
      - KUBERPULT_MAXIMUM_QUEUE_SIZE=2
      - KUBERPULT_ALLOW_LONG_APP_NAMES=true
    ports:
      - "8080:8080"
      - "8443:8443"
    volumes:
      - ./services/cd-service:/kp/kuberpult
    stop_grace_period: 0.5s
  frontend-service:
    image: europe-west3-docker.pkg.dev/fdc-public-docker-registry/kuberpult/kuberpult-frontend-service:local
    # Note: this `container_name` needs to be the same as in `package.json`
    container_name: kuberpult-frontend-service
    environment:
      - KUBERPULT_CDSERVER=cd-service:8443
      - KUBERPULT_CD_SERVER_SECURE=false
      - LOG_LEVEL=INFO
      - KUBERPULT_ALLOWED_ORIGINS=localhost:*
      - KUBERPULT_GIT_AUTHOR_NAME=user-local-dev-docker-compose
      - KUBERPULT_GIT_AUTHOR_EMAIL=user-local-dev@example.com
      - KUBERPULT_ARGOCD_BASE_URL=https://cd.dev.freiheit.systems/
      - KUBERPULT_ARGOCD_NAMESPACE=tools
      - KUBERPULT_SOURCE_REPO_URL=https://github.com/freiheit-com/kuberpult/commit/{commit}
      - KUBERPULT_MANIFEST_REPO_URL=https://github.com/freiheit-com/fdc-standard-setup-dev-env-manifest/tree/{branch}/{dir}
      - KUBERPULT_GIT_BRANCH=main
      - KUBERPULT_API_ENABLED_DESPITE_NO_AUTH=false
      - KUBERPULT_BATCH_CLIENT_TIMEOUT=2m
    ports:
      - "8081:8081"
    depends_on:
      - cd-service
    volumes:
      - .:/kp/kuberpult
    stop_grace_period: 0.5s
  ui:
    image: ui:local
    container_name: kuberpult-ui
    ports:
      - "3000:3000"
    depends_on:
      - frontend-service
    volumes:
      - ./services/frontend-service/src:/kp/src
      - ./services/frontend-service/public:/kp/public
    stop_grace_period: 0.5s
