services:
  datadog-agent:
    image: datadog/agent:latest
    env_file:
      - docker.env
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /proc/:/host/proc/:ro
      - /sys/fs/cgroup/:/host/sys/fs/cgroup:ro
    ports:
      - 127.0.0.1:8126:8126/tcp
    environment:
      - DD_APM_ENABLED=true
      - DD_APM_NON_LOCAL_TRAFFIC=true
      - DD_DOGSTATSD_NON_LOCAL_TRAFFIC=true
      - DD_AC_EXCLUDE=name:datadog-agent
    stop_grace_period: 2.0s
  postgres:
    image: postgres:13.15
    restart: unless-stopped
    environment:
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=kuberpult
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 1s
      timeout: 5s
      retries: 3
  cd-service:
    image: europe-west3-docker.pkg.dev/fdc-public-docker-registry/kuberpult/kuberpult-cd-service:local
    environment:
      - LOG_LEVEL=INFO
      - KUBERPULT_DISABLE_QUEUE=true
      - KUBERPULT_GIT_URL=/kp/kuberpult/repository_remote
      - KUBERPULT_DB_LOCATION=postgres
      - KUBERPULT_DB_NAME=kuberpult
      - KUBERPULT_DB_USER_NAME=postgres
      - KUBERPULT_DB_USER_PASSWORD=mypassword
      - KUBERPULT_DB_MIGRATIONS_LOCATION=/kp/database/migrations/postgres/
      - KUBERPULT_DB_OPTION=postgreSQL
      - KUBERPULT_DB_WRITE_ESL_TABLE_ONLY=false
      - KUBERPULT_GIT_BRANCH=master
      - KUBERPULT_GIT_NETWORK_TIMEOUT=3s
      - KUBERPULT_DEX_MOCK=false
      - KUBERPULT_DEX_ENABLED=false
      - KUBERPULT_DEX_RBAC_POLICY_PATH=/etc/policy.csv
      - KUBERPULT_DEX_RBAC_TEAM_PATH=/etc/team.csv
      - KUBERPULT_DEX_MOCK_ROLE=developer
      - KUBERPULT_GIT_WRITE_COMMIT_DATA=true
      - KUBERPULT_MAXIMUM_QUEUE_SIZE=2
      - KUBERPULT_ALLOW_LONG_APP_NAMES=true
      - KUBERPULT_ARGO_CD_GENERATE_FILES=true
      - KUBERPULT_DB_SSL_MODE=disable
      - KUBERPULT_MINOR_REGEXES=^.*exampleRegexForMinors:.*$,^secondExampleRegexForMinors:.*$
      - KUBERPULT_DB_MAX_OPEN_CONNECTIONS=10
      - KUBERPULT_DB_MAX_IDLE_CONNECTIONS=5
      - KUBERPULT_ENABLE_METRICS=true
      - DD_AGENT_HOST=datadog-agent
      - KUBERPULT_ENABLE_TRACING=true
      - DD_SERVICE=kuberpult-cd-service
      - DD_VERSION=0.0.0
      - DD_ENV=example-local-sep27-d
    ports:
      - "8080:8080"
      - "8443:8443"
    volumes:
      - ./services/cd-service:/kp/kuberpult
      - ./database:/kp/database
    stop_grace_period: 0.5s
    depends_on:
      postgres:
        condition: service_healthy
      datadog-agent:
        condition: service_healthy
  manifest-repo-export-service:
    image: europe-west3-docker.pkg.dev/fdc-public-docker-registry/kuberpult/kuberpult-manifest-repo-export-service:local
    environment:
      - LOG_LEVEL=INFO
      - KUBERPULT_DB_LOCATION=postgres
      - KUBERPULT_DB_MIGRATIONS_LOCATION=/kp/database/migrations/postgres/
      - KUBERPULT_DB_OPTION=postgreSQL
      - KUBERPULT_GIT_NETWORK_TIMEOUT=3s
      - KUBERPULT_DB_NAME=kuberpult
      - KUBERPULT_DB_USER_NAME=postgres
      - KUBERPULT_DB_USER_PASSWORD=mypassword
      - KUBERPULT_DB_AUTH_PROXY_PORT=5432
      - KUBERPULT_GIT_URL=/kp/kuberpult/repository_remote
      - KUBERPULT_GIT_BRANCH=master
      - KUBERPULT_GIT_SSH_KEY=/etc/ssh/identity
      - KUBERPULT_GIT_SSH_KNOWN_HOSTS=/etc/ssh/ssh_known_hosts
      - KUBERPULT_ENABLE_METRICS=true
      - KUBERPULT_ARGO_CD_GENERATE_FILES=true
      - KUBERPULT_RELEASE_VERSIONS_LIMIT=20
      - KUBERPULT_NETWORK_TIMEOUT_SECONDS=120
      - KUBERPULT_DB_SSL_MODE=disable
      - KUBERPULT_DB_MAX_OPEN_CONNECTIONS=5
      - KUBERPULT_DB_MAX_IDLE_CONNECTIONS=1
      - KUBERPULT_ENABLE_TRACING=true
      - DD_SERVICE=kuberpult-manifest-repo-export-service
      - DD_VERSION=0.0.0
      - DD_ENV=example-local-sep27-d
    volumes:
      - ./services/cd-service:/kp/kuberpult
      - ./database:/kp/database
    ports:
      - "8090:8080"
      - "8444:8443"
    stop_grace_period: 0.5s
    depends_on:
      cd-service:
        condition: service_started
      postgres:
        condition: service_healthy
  frontend-service:
    image: europe-west3-docker.pkg.dev/fdc-public-docker-registry/kuberpult/kuberpult-frontend-service:local
    # Note: this `container_name` needs to be the same as in `package.json`
    container_name: kuberpult-frontend-service
    environment:
      - KUBERPULT_CDSERVER=cd-service:8443
      - KUBERPULT_VERSIONSERVER=manifest-repo-export-service:8443
      - KUBERPULT_CD_SERVER_SECURE=false
      - LOG_LEVEL=INFO
      - KUBERPULT_ALLOWED_ORIGINS=localhost:*
      - KUBERPULT_GIT_AUTHOR_NAME=user-local-dev-docker-compose
      - KUBERPULT_GIT_AUTHOR_EMAIL=user-local-dev@example.com
      - KUBERPULT_ARGOCD_BASE_URL=https://cd.dev.freiheit.systems/
      - KUBERPULT_ARGOCD_NAMESPACE=tools
      - KUBERPULT_SOURCE_REPO_URL=https://github.com/freiheit-com/kuberpult/commit/{commit}
      - KUBERPULT_MANIFEST_REPO_URL=https://github.com/freiheit-com/fdc-standard-setup-dev-env-manifest/tree/{branch}/{dir}
      - KUBERPULT_GIT_BRANCH=master
      - KUBERPULT_API_ENABLE_DESPITE_NO_AUTH=true
      - KUBERPULT_BATCH_CLIENT_TIMEOUT=2m
      - KUBERPULT_DEX_RBAC_POLICY_PATH=/etc/policy.csv
      - KUBERPULT_GRPC_MAX_RECV_MSG_SIZE=8
    ports:
      - "8081:8081"
    depends_on:
      - cd-service
    volumes:
      - .:/kp/kuberpult
    stop_grace_period: 0.5s
  ui:
    image: ui:local
    container_name: kuberpult-ui
    ports:
      - "3000:3000"
    depends_on:
      - frontend-service
    volumes:
      - ./services/frontend-service/src:/kp/src
      - ./services/frontend-service/public:/kp/public
    stop_grace_period: 0.5s
