.release-card-mini {
    color: var(--mdc-theme-on-surface);
    box-shadow: none;
    width: inherit;
    display: flex;
    background: #f7f9fa;
    border-radius: 4px;
    cursor: pointer;
}

.release__details-mini {
    height: 100%;
    width: inherit;
    margin: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #4a4a4a;
}

.release__details-header {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    color: #4a4a4a;
}

.release__details-msg {
    height: 100%;
    margin: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    color: #4a4a4a;
}

.release__environments-mini {
    font-weight: 600;
    font-size: 14px;
    line-height: 32px;
    margin: 5px;
}
