@use "@material/data-table/data-table";

.mdc-data-table__table{
  width: 100%;
}

.mdc-data-table{
  margin: $locks-list-margin;
}

.mdc-data-indicator{
  background-color: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
  height: $locks-list-header-height;
  font-weight: bold;
  line-height: $locks-subheader-line-height;
  border-radius: $locks-list-header-border-radius;

  .mdc-data-indicator-header{
    display: flex;
    padding-inline: $locks-list-header-padding;
  }

  .mdc-data-header-title{
    font-size: $locks-header-font-size;
  }

  .mdc-data-indicator-field{
    flex: 1;
    line-height: $locks-list-header-line-height;
    font-size: $locks-subheader-font-size;
  }
}