.service-lane__header {
    background: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $service-lane-header-padding;
    border-radius: $border-radius-medium;
    height: $service-lane-header-height;

    white-space: nowrap;
    .service__name {
        overflow: hidden;
        @extend .sub-headline1;
        display: flex;
        align-items: center;
    }
    .service-action {
        border: 1px solid var(--mdc-theme-on-primary);
        border-radius: $border-radius-medium;
        margin-left: $service-lane-header-actions-margin-left;
        height: $service-lane-header-actions-height;
        color: var(--mdc-theme-on-primary);
        .mdc-button__label {
            padding-left: $service-lane-header-actions-button-padding-left;
            @extend .text-bold;
        }
    }
}

.service__releases {
    display: flex;
    margin: 0 0 $service-lane-margin-bottom 0;
}

.service-lane__diff {
    display: flex;
}

.service-lane__diff--container {
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-evenly;
    width: $service-lane-diff-element-width;

    .service-lane__diff--number {
        @extend .text-bold;
        display: flex;
        align-items: center;
        box-sizing: border-box;
        justify-content: space-evenly;

        // Copied from figma
        width: 24px;
        height: 24px;
        border: 2px solid $service-lane-diff-element-border-color;
        border-radius: $border-radius-large;
    }

    .service-lane__diff--dot {
        align-self: center;
        box-sizing: border-box;

        // Copied from figma
        width: 3px;
        height: 3px;
        background: $service-lane-diff-element-border-color;
        border-radius: $border-radius-large;
    }
}
