.service-lane__header {
  background: var(--mdc-theme-primary);
  color: var(--mdc-theme-on-primary);
  display: flex;
  justify-content: space-between;
  padding: 13px 20px;
  border-radius: 10px;
  height: 62px;

  white-space: nowrap;
  .service__name {
    overflow: hidden;
    @extend .headline1;
    display: flex;
    align-items: center;
  }
  .service-action {
    border: 1px solid var(--mdc-theme-on-primary);
    border-radius: 10px;
    margin-left: 51px;
    color: var(--mdc-theme-on-primary);
    .mdc-button__label{
      padding-left: 1em;
      @extend .text-bold
    }
  }
}

.service__releases {
  display: flex;
  margin: 0 -12px 34px -12px;
}

.service-lane__diff {
  display: flex;
}

.service-lane__diff_number {
  display: flex;
  font-size: xx-large;
  padding: 100px 0px 20px 10px;
  height: 40px;
}
