@use "@material/card";
@use "@material/typography/mdc-typography";

@include card.core-styles;

.mdc-card {
  border-radius: 10px;
}

.mdc-card__header {
  padding: 16px;
  display: flex;
  justify-content: space-between;

  .mdc-card__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    color: var(--mdc-theme-on-surface);
  }

  .mdc-card__header-action {
    background: var(--mdc-theme-secondary);
    color: var(--mdc-theme-on-secondary);
    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    border: 1px solid #00AFFF;
    border-radius: 15px;
  }
}

.mdc-card-content {
  padding: 0 16px 16px 16px;
}

.mdc-card__primary-action {
  height: 100%;
}
