@use '@material/top-app-bar';
@use '@material/top-app-bar/mdc-top-app-bar';
@use '@material/notched-outline/mdc-notched-outline';
@use '@material/notched-outline';
@use '@material/button';
@use '@material/button/mdc-button';

.mdc-top-app-bar {
  @include top-app-bar.fill-color(var(--mdc-theme-background));
  @include top-app-bar.ink-color(var(--mdc-theme-primary));

  padding: $top-app-bar-padding;

  .mdc-top-app-bar__row {
    align-content: center;

    .mdc-top-app-bar__section--align-end{
      @include top-app-bar.fill-color(var(--mdc-theme-background));
      @include top-app-bar.ink-color(var(--mdc-theme-primary));

      padding-right: 0em !important;
    }
  }

  .mdc-top-app-bar__title{
    font-weight: $kp-logo-font-font-weight;
    font-size: $kp-logo-font-font-size;
    line-height: $kp-logo-font-line-height;
  }

  .mdc-text-field {
    @include notched-outline.shape-radius(10px);
    @include notched-outline.color(var(--mdc-theme-primary));
  }
}

.mdc-top-button{
  @include button.ink-color(var(--mdc-theme-background));
  @include top-app-bar.fill-color(var(--mdc-theme-primary));

  margin-left: 1em;
  margin-right: 0em !important;
  width: 5em;
  height: 4.5em;
  font-weight: bold;
  border-top-left-radius: 1em;
  border-bottom-left-radius: 1em;
  border-bottom-right-radius: 0em !important;
  border-top-right-radius: 0em !important;
}

