@use '@material/floating-label/mdc-floating-label';
@use '@material/notched-outline/mdc-notched-outline';
@use '@material/select/mdc-select';
@use '@material/select/icon';

label.mdc-select-label.new-line-height {
  line-height: 17px;
}

label.mdc-select-label {
  @extend .text-bold;
}

div.mdc-select{
  @extend .text-bold;
  width: 100%;
  min-height: 100%;
  border-radius: 10px;
  fieldset{
    border-color: var(--mdc-theme-primary);
  }
}

.remove-space {
  fieldset {
    legend {
      max-width: 0.01px;
    }
  }
}