@use '@material/floating-label/mdc-floating-label';
@use '@material/notched-outline/mdc-notched-outline';
@use '@material/select/mdc-select';
@use '@material/select/icon';

.mdc-select {
  width: 100%;
  fieldset {
    border-color: var(--mdc-theme-primary);
    margin-left: 50px;
    border-radius: 10px;
  }
}
