@use '@material/chips/styles';

.mdc-evolution-chip {
    height: $env-chip-height;
    border-radius: $border-radius-small;
    .mdc-evolution-chip__action--primary {
        padding-left: $env-chip-padding;
        padding-right: $env-chip-padding;
    }
    .env-locks {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-right: -$env-chip-padding;
    }
    .mdc-evolution-chip__cell {
        color: white;
        overflow: hidden;
    }
}

.env-group-chip-list {
    display: flex;
    > *:not(:last-child) {
        margin-right: $env-group-chip-margin;
    }
}

.release-environment {
    @extend .text-bold;
    white-space: nowrap;
    float: right;
}

.environment-priority-prod {
    background-color: $env-color-prod;
}
.environment-priority-pre_prod {
    background-color: $env-color-pre_prod;
}
.environment-priority-upstream {
    background-color: $env-color-upstream;
}
