/*This file is part of kuberpult.

Kuberpult is free software: you can redistribute it and/or modify
it under the terms of the Expat(MIT) License as published by
the Free Software Foundation.

Kuberpult is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
MIT License for more details.

You should have received a copy of the MIT License
along with kuberpult. If not, see <https://directory.fsf.org/wiki/License:Expat>.

Copyright freiheit.com*/

.confirmation-dialog-container {
    display: flex;
}

.plain-dialog-container {
    display: flex;
    position: relative;
}

.confirmation-dialog-container-open {
    &::before {
        // this is to make everything behind the dialog grey and not clickable:
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        background-color: #00000050;
    }
}

.plain-dialog-open {
    position: absolute;
    max-height: 80vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: white;
    color: black;
    float: left;

    z-index: 1000;
    // the border radius should be the same as the release dialog:
    border-radius: $release-dialog-outer-border-radius;
    box-shadow:
        rgba(0, 0, 0, 0.2) 0 5px 5px -3px,
        rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
        rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
}

.confirmation-dialog-open {
    max-height: 80vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: white;
    color: black;
    position: fixed;
    float: left;
    left: 50%;
    top: 50%;
    // confirmation dialogs are centered around the middle of the screen
    // (plain dialogs are centered around an ancestor element)
    transform: translate(-50%, -50%);

    z-index: 1000;
    // the border radius has to align with the border radius of the release dialog:
    border-radius: $release-dialog-outer-border-radius;
    box-shadow:
        rgba(0, 0, 0, 0.2) 0 5px 5px -3px,
        rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
        rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;

    .confirmation-dialog-header {
        @extend .headline1;
        padding: 2rem 2rem 1rem 2rem;
    }
    .confirmation-dialog-content {
        font-weight: 500;
        overflow: auto;
        padding: 1rem 2rem 1rem 2rem;
    }
    .confirmation-dialog-footer {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        padding: 1rem 2rem 1rem 2rem;

        .item:not(:first-child) {
            border-top: 1px solid;
            border-color: white;
        }
        .item {
            list-style-type: none;
            padding: 0;
        }
        button {
            border-radius: 10px;
        }
    }
    hr {
        color: grey;
        margin: 0 2rem 0 2rem;
    }
}
