/*This file is part of kuberpult.

Kuberpult is free software: you can redistribute it and/or modify
it under the terms of the Expat(MIT) License as published by
the Free Software Foundation.

Kuberpult is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
MIT License for more details.

You should have received a copy of the MIT License
along with kuberpult. If not, see <https://directory.fsf.org/wiki/License:Expat>.

Copyright freiheit.com*/
.release-dialog {
    min-width: 980px;

    a {
        color: white;
    }

    a.env-card-link {
        color: black;
        font-size: 17px;
    }

    div.MuiPaper-root {
        background-color: transparent;
        border-radius: $release-dialog-outer-border-radius;
        overflow-y: inherit;
    }

    .content-area {
        display: flex;
    }

    .content-right {
        max-width: 45%;
        margin-left: auto;
        display: flex;
    }

    .content-left {
        max-width: 60%;
    }

    .release-dialog-app-bar {
        border-radius: $release-dialog-top-border-radius;
        background: var(--mdc-theme-primary);
        color: var(--mdc-theme-on-primary);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .release-dialog-app-bar-data {
            margin: 24px 10px 24px 47px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .release-dialog-message {
                .release-dialog-commitMessage {
                    text-overflow: wrap;
                    @extend .sub-headline1;
                }
            }
        }

        .source {
            justify-content: space-between;
            display: flex;
        }

        button.release-dialog-close {
            display: flex;
            margin: 20px 10px auto;
        }
    }

    .release-env-group-list {
        overflow-y: scroll;
        background-color: var(--mdc-theme-surface);
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin: 0px;
        padding-bottom: 20px;
        align-items: center;
        border-radius: $release-dialog-bottom-border-radius;

        .release-env-list {
            padding-left: 0;
            margin-bottom: 0;
        }

        button {
            padding: 8px 19px;
        }

        .env-card {
            background-color: var(--mdc-theme-background);
            display: flex;
            flex-direction: column;
            width: 900px;
            padding: 0 0 10px;
            margin: 15px 15px 0;
            border-radius: $release-dialog-inner-border-radius;
            gap: 0;

            .env-card-header {
                button {
                    padding: 0px 0px;
                }

                display: flex;
                flex-direction: row;
                justify-content: space-between;

                .release-environment {
                    border-radius: $border-radius-large;
                    top: $release-dialog-label-displacement;
                    left: $release-dialog-label-displacement;
                    height: 42px;

                    .tooltip-container button {
                        width: 16px;
                        height: 16px;
                    }

                    .env-card-label {
                        display: flex;

                        svg.env-card-env-lock-icon {
                            width: $release-dialog-lock-icon-size;
                            height: $release-dialog-lock-icon-size;
                            margin: unset;
                        }

                        .env-card-env-locks:first-child {
                            margin-left: 55px;
                            display: flex;
                            flex-direction: row;
                        }
                    }
                }

                .env-card-locks {
                    display: flex;
                }

                .env-card-app-locks {
                    display: flex;
                    position: relative;
                    right: 36px;
                    flex-direction: row;
                    align-items: center;
                    gap: 0;
                    overflow: auto;

                    svg {
                        min-width: 16px;
                    }
                }
            }

            .env-card-data {
                display: flex;
                flex-direction: row;
                padding-left: 27px;
                @extend .text-medium;
                .env-card-release-diff-positive {
                    color: green;
                }
                .env-card-release-diff-negative {
                    color: red;
                }
            }

            .env-card-buttons {
                margin-left: auto;
                margin-bottom: 17px;
                display: flex;
                flex-direction: row;
                gap: 20px;
                min-width: 200px;

                .env-card-add-lock-btn {
                    border: 1px solid var(--mdc-theme-primary);
                    border-radius: $release-dialog-inner-border-radius;
                    white-space: nowrap;
                    @extend .text-bold;

                    .icon {
                        margin-right: 9px;
                    }
                }
            }
        }
    }
}
.argo-logo {
    width: 5%;
    height: auto;
}
.env-card-header-name {
    color: black;
    font-size: 17px;
}

button.button-lock {
    min-width: unset;
    padding: unset;
    height: auto;
    width: 20px;
}

button.mdc-button.env-card-deploy-btn {
    border-radius: $release-dialog-inner-border-radius;
    @extend .text-bold;

    &.button-main.deploy-button-cancel {
        background-color: var(--mdc-theme-error);
    }
}
button.mdc-button.env-card-lock-btn {
    border-radius: $release-dialog-inner-border-radius;
    @extend .text-bold;

    &.deploy-button-cancel:not(.button-main) {
        color: var(--mdc-theme-error);
    }
}

.release-dialog-environment-group-lane {
    position: relative;
    min-width: fit-content;
    max-width: calc(100vw - $sidebar-width - 100px); // full size minus the planned actions bar minus some buffer
    background-color: rgba(0, 0, 0, 0.06);
    border-radius: $environment-lane-header-border-radius;
    margin-top: 10px;
    margin-bottom: 10px;

    .release-dialog-environment-group-lane__footer {
        padding-bottom: 1px; // must not be 0, or margins will collapse
    }

    .release-dialog-environment-group-lane__header-wrapper {
        display: flex;
    }

    .release-dialog-environment-group-lane__header {
        position: relative;
        color: var(--mdc-theme-surface); // will be fixed in SRX-E9D7EE
        display: flex;
        justify-content: space-between;
        padding: $environment-lane-header-padding;
        padding-right: 5px;
        border-radius: $environment-lane-header-border-radius;
        width: max-content;

        .environment-group__name {
            @extend .headline1;
            display: flex;
            align-items: center;
        }
    }

    .release-dialog-environment-group-lane__body__collapsed {
        position: relative;
        color: var(--mdc-theme-surface); // will be fixed in SRX-E9D7EE
        display: flex;
        justify-content: space-between;
        padding: $environment-lane-header-padding;
        border-radius: $environment-lane-header-border-radius;
        width: 940px;
        .environment-group__name {
            @extend .headline1;
            display: flex;
            align-items: center;
        }
    }

    .release-dialog-environment-group-lane__body {
        margin-top: 20px;
        margin-left: 10px;
        margin-bottom: 10px;
    }

    .environment-lane {
        position: relative;
        background-color: #eee;
        border-radius: $environment-lane-border-radius;
        margin: $environment-lane-margin;
        overflow: visible;

        .environment-lane__header {
            position: relative;
            color: $environment-lane-header-color;
            display: flex;
            justify-content: space-between;
            padding: $environment-lane-header-padding;
            border-radius: $environment-lane-header-border-radius;
            width: max-content;

            .environment__name {
                @extend .headline1;
                display: flex;
                align-items: center;
            }
        }

        .environment-lane__body {
            display: flex;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 0px;
            padding-left: 0px;

            .tooltip-container {
                min-width: 40px;
            }
        }
    }
}

.collapse-dropdown-arrow-container {
    display: flex;
    flex-flow: row-reverse;
    height: 100%;
    .collapse-dropdown-arrow {
        right: 10px;
        top: 20px;
        float: left;
        font-size: xx-large;
        pointer-events: none;
    }
}

.env-group-card-buttons {
    margin-left: auto;
    margin-bottom: 17px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    min-width: 300px;
    padding-top: 9px;

    .env-card-add-lock-btn {
        border: 1px solid var(--mdc-theme-primary);
        border-radius: $release-dialog-inner-border-radius;
        white-space: nowrap;
        @extend .text-bold;

        .icon {
            margin-right: 9px;
        }
    }
}
.env-group-expand-button {
    margin-right: 15px;
}
