@use '@material/typography/mdc-typography';
@use '@material/card/mdc-card';

.release-dialog-commitId {
    border: 1px solid white;
    border-radius: 15px;
}

.release-dialog {
    border-radius: 25px 25px 0px 0px;
}

.release-dialog-app-bar {
    border-radius: 25px 25px 0px 0px;
    background: var(--mdc-theme-primary);
    color: var(--mdc-theme-on-primary);
}

.release-dialog div div {
    border-radius: 25px 25px 0px 0px;
}

.release-dialog-message {
    margin-top: 15px;
    margin-left: 30px;
    font-weight: bold;
    font-size: medium;
}


.release-dialog-close {
    margin-top: 15px;
    margin-left: 360px;
}

.release-dialog-commitId {
    margin-left: 20px;
    border: 1px solid white;
    border-radius: 8px;
    font-weight: normal;
    padding: 5px;
}


.release-dialog-createdAt {
    margin-top: 25px;
    margin-left: 30px;
}

.release-dialog-author {
    margin-top: 25px;
    margin-left: 30px;
    margin-bottom: 20px;
}
