/*This file is part of kuberpult.

Kuberpult is free software: you can redistribute it and/or modify
it under the terms of the Expat(MIT) License as published by
the Free Software Foundation.

Kuberpult is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
MIT License for more details.

You should have received a copy of the MIT License
along with kuberpult. If not, see <https://directory.fsf.org/wiki/License:Expat>.

Copyright 2023 freiheit.com*/
.release-dialog {
    a {
        color: white;
    }

    div.MuiPaper-root {
        background-color: transparent;
        border-radius: $release-dialog-outer-border-radius;
        overflow-y: inherit;
    }
    .content-area {
        display: flex;
    }
    .content-right {
        margin-right: 20px;
        margin-left: auto;
        display: flex;
    }

    .release-dialog-app-bar {
        border-radius: $release-dialog-top-border-radius;
        background: var(--mdc-theme-primary);
        color: var(--mdc-theme-on-primary);
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .release-dialog-app-bar-data {
            margin: 24px 10px 24px 47px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .release-dialog-message {
                .release-dialog-commitMessage {
                    text-overflow: wrap;
                    @extend .sub-headline1;
                }
            }
        }

        .source {
            justify-content: space-between;
            display: flex;
        }

        button.release-dialog-close {
            display: flex;
            margin: 20px 10px auto;
        }
    }

    .release-env-group-list {
        background-color: var(--mdc-theme-surface);
        display: flex;
        flex-direction: column;
        overflow: overlay;
        gap: 12px;
        margin: 0px;
        padding-bottom: 20px;
        align-items: center;
        border-radius: $release-dialog-bottom-border-radius;

        .release-env-list {
            padding-left: 0;
            margin-bottom: 0;
        }

        .env-card {
            background-color: var(--mdc-theme-background);
            display: flex;
            flex-direction: column;
            width: 900px;
            padding: 0px;
            margin-top: 10px;
            margin-bottom: 0px;
            margin-left: 20px;
            margin-right: 20px;
            border-radius: $release-dialog-inner-border-radius;
            gap: 0;

            .env-card-header {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                .release-environment {
                    border-radius: $border-radius-large;
                    top: $release-dialog-label-displacement;
                    left: $release-dialog-label-displacement;
                    height: 42px;

                    .tooltip-container button {
                        width: 16px;
                        height: 16px;
                    }

                    .env-card-label {
                        display: flex;

                        svg.env-card-env-lock-icon {
                            width: $release-dialog-lock-icon-size;
                            height: $release-dialog-lock-icon-size;
                            margin: unset;
                        }

                        .env-card-env-locks:first-child {
                            margin-left: 55px;
                            display: flex;
                            flex-direction: row;
                        }
                    }
                }

                .env-card-app-locks {
                    display: flex;
                    position: relative;
                    top: 10px;
                    right: 36px;
                    flex-direction: row;
                    gap: 13px;
                }
            }

            .env-card-data {
                display: flex;
                flex-direction: row;
                padding-left: 27px;
                @extend .text-medium;
            }

            .env-card-buttons {
                margin-left: auto;
                margin-right: 18px;
                margin-bottom: 17px;
                display: flex;
                flex-direction: row;
                gap: 20px;
                button {
                    padding: 8px 19px;
                }

                .env-card-add-lock-btn {
                    border: 1px solid var(--mdc-theme-primary);
                    border-radius: $release-dialog-inner-border-radius;
                    white-space: nowrap;
                    @extend .text-bold;
                    .icon {
                        margin-right: 9px;
                    }
                }
            }
        }
    }
}

button.button-lock {
    min-width: unset;
    padding: unset;
    height: auto;
    width: 20px;
}

button.mdc-button.env-card-deploy-btn {
    border-radius: $release-dialog-inner-border-radius;
    color: white;
    @extend .text-bold;
}



.confirmation-dialog-container {
    display: flex;
}

.confirmation-dialog-container-open {
    &::before {
        // this is to make everything behind the dialog grey and not clickable:
        content: "";
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 999;
        background-color: #00000050;
    }
}

.confirmation-dialog-open {
    max-height: 80vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background: white;
    color: black;
    position: fixed;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    z-index: 1000;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 5px 5px -3px, rgba(0, 0, 0, 0.14) 0px 8px 10px 1px,
    rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;


    .confirmation-dialog-header {
        @extend .headline1;
        padding: 2rem 2rem 1rem 2rem;
    }
    .confirmation-dialog-content {
        font-weight: 500;
        overflow:auto;
        padding: 1rem 2rem 0 2rem;
    }
    .confirmation-dialog-footer {
        display: flex;
        justify-content: flex-end;
        gap: 1rem;
        padding: 1rem 2rem 1rem 2rem;

        .item:not(:first-child) {
            border-top: 1px solid;
            border-color: white;
        }
        .item {
            list-style-type: none;
            padding: 0;
        }
        button {
            border-radius: 10px;

        }
    }
    hr {
        color: grey;
        margin: 0 2rem 0 2rem;
    }
}
