/* Dark mode styles */

/* Increase contrast between screen and tile backgrounds */
.screen-background {
  background-color: #333;
  background-image: linear-gradient(to bottom, #333, #444);
}

tile-background {
  background-color: #555;
}