.environment-group-lane {
    position: relative;
    min-width: fit-content;
    max-width: calc(100vw - $sidebar-width - 100px); // full size minus the planned actions bar minus some buffer
    background-color: $environment-lane-background-color;
    margin-bottom: 20px;

    .environment-group-lane__header-wrapper {
        display: flex;
    }

    .environment-group-lane__header {
        position: relative;
        color: var(--mdc-theme-surface); // will be fixed in SRX-E9D7EE
        background-color: var(--mdc-theme-secondary);
        display: flex;
        justify-content: space-between;
        padding: $environment-lane-header-padding;
        border-radius: $environment-lane-header-border-radius;
        width: max-content;

        .environment-group__name {
            @extend .headline1;
            display: flex;
            align-items: center;
        }
    }
    .environment-group-lane__body {
        margin: 20px;
    }

    .environment-lane {
        position: relative;
        background-color: #eee;
        border-radius: $environment-lane-border-radius;
        margin: $environment-lane-margin;
        overflow: visible;

        .environment-lane__header {
            position: relative;
            color: $environment-lane-header-color;
            background-color: $environment-lane-header-background-color;
            display: flex;
            justify-content: space-between;
            padding: $environment-lane-header-padding;
            border-radius: $environment-lane-header-border-radius;
            width: max-content;

            .environment__name {
                @extend .headline1;
                display: flex;
                align-items: center;
            }
        }

        .environment-lane__body {
            display: flex;
            padding-top: 10px;
            padding-bottom: 10px;
            padding-right: 20px;
            padding-left: 0px;
        }
    }

    .environment__locks {
        display: flex;
        margin: $environment-locks-margin;
    }

    .environment__actions {
        position: relative;
        margin-left: auto;
        margin-right: $environment-actions-right-displacement;
        margin-top: $environment-actions-top-displacement;

        .environment-action {
            border: $environment-add-lock-button-border;
            border-radius: $environment-add-lock-button-border-radius;
            color: $environment-add-lock-button-color;
            .mdc-button__label {
                padding-left: $environment-add-lock-button-padding-left;
                @extend .text-bold;
            }
        }
    }
}
