.environment-lane{
  position: relative;
  background-color: $environment-lane-background-color;
  height: $environment-lane-height;
  border-radius: $environment-lane-border-radius;
  margin: $environment-lane-margin;
  overflow: visible;

  .environment-lane__header{
    position: absolute;
    top: $environment-lane-header-top-displacement;
    left: $environment-lane-header-left-displacement;
    color: $environment-lane-header-color;
    background-color: $environment-lane-header-background-color;
    display: flex;
    justify-content: space-between;
    padding: $environment-lane-header-padding;
    border-radius: $environment-lane-header-border-radius;
    width: max-content;
    height: $environment-lane-header-height;

    .environment__name {
      font-weight: $environment-name-font-weight;
      font-size: $environment-name-font-size;
      line-height: $environment-name-line-height;
      display: flex;
      align-items: center;
    }
  }

  .environment__locks{
    display: flex;
    position: absolute;
    bottom: $environment-locks-bottom;
    margin: $environment-locks-margin;
  }

  .environment__actions{
    position: absolute;
    right: $environment-actions-right-displacement;
    bottom: $environment-actions-bottom-displacement;

    .environment-action {
      border: $environment-add-lock-button-border;
      border-radius: $environment-add-lock-button-border-radius;
      color: $environment-add-lock-button-color;
      .mdc-button__label{
        padding-left: $environment-add-lock-button-padding-left;
        font-weight: $environment-add-lock-button-font-weight;
        font-size: $environment-add-lock-button-font-size;
        line-height: $environment-add-lock-button-line-height;
      }
    }
  }
}