@use '@material/top-app-bar/mdc-top-app-bar';
@use '@material/notched-outline/mdc-notched-outline';
@use '@material/notched-outline';

.mdc-top-app-bar {
  background: var(--mdc-theme-background);
  color: var(--mdc-theme-primary);

  padding: $top-app-bar-padding;

  .mdc-top-app-bar__row {
    align-content: center;

    .mdc-top-app-bar__section--align-end{
      padding-right: 0;
    }
    .top-app-bar-search-field{
      width: $top-app-bar-search-field-width;
      height: $top-app-bar-search-field-height;
    }
  }

  .mdc-top-app-bar__title{
    font-weight: $kp-logo-font-font-weight;
    font-size: $kp-logo-font-font-size;
    line-height: $kp-logo-font-line-height;
  }

  .mdc-text-field {
    @include notched-outline.shape-radius(10px);
    @include notched-outline.color(var(--mdc-theme-primary));
  }

  .mdc-show-button {
    color: var(--mdc-theme-background);
    background: var(--mdc-theme-primary);

    margin-left: 1em;
    margin-right: 0;
    width: 5em;
    height: 4.5em;
    border-radius: $sidebar-display-button-border-radius;
  }
}
