@use '@material/card/mdc-card';

.release-card__container {
  display: flex;
  flex-direction: column;
}

.release-card {
  border-radius: 10px;
  min-height: 136px;
  max-height: 136px;
  min-width: 240px;
  max-width: 240px;
  margin: -20px 8px 4px 8px;
  color: var(--mdc-theme-on-surface);
  box-shadow: none;

  .release-card__description {
    height: 100vh;
    padding: 20px;
  }
}

.release-card__header {
  .release__title{ 
    @extend .sub-headline1;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.release__details {
  padding: 12px 8px;
  div {
    @extend .text-regular;
  }
  .release__metadata {
    display: flex;
    color: var(--mdc-theme-primary);
  }

}

.release-environment {
  white-space: nowrap;
  .mdc-evolution-chip__cell {
    @extend .sub-headline1;
    color: $environment-label-color;
    overflow: hidden;
  }
}
.release-environment.release-environment-prod {
  background-color: #DC0000;
}
.release-environment.release-environment-pre_prod {
  background-color: #F3BE00;
}
.release-environment.release-environment-upstream {
  background-color: #50C241;
}

.release__environments {
  @extend .text-bold;
  align-self: center;
  z-index: 2;
  min-height: 42px;
  > *:not(:last-child) {
    margin-right: 8px;
  }
}
