@use '@material/card/mdc-card';

h2.mdc-tooltip__title.release__details {
    white-space: pre-wrap;
    line-height: 12px;
    b {
        line-height: 12px; // we have to set the line-height on the parent and the child, otherwise it has no effect
    }
}

.release-card__container {
    display: flex;
    flex-direction: column;
}

.release-card {
    border-radius: $border-radius-medium;
    min-height: $release-card-height;
    max-height: $release-card-height;
    min-width: $release-card-width;
    max-width: $release-card-width;
    margin: $release-card-margin;
    color: var(--mdc-theme-on-surface);
    box-shadow: none;

    .release-card__description {
        height: $release-card-height;
        padding: $release-card-inner-padding;
    }
}

.release-card__header {
    .release__title {
        @extend .text-bold;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
}

.release__hash {
    @extend .text-bold;
    height: $release-card-hash-height;
}

.release__details {
    padding: $release-card-tooltip-padding;
    b {
        @extend .text-bold;
    }
    div {
        @extend .text-regular;
    }
    .release__metadata {
        display: flex;
        color: var(--mdc-theme-primary);
    }
}

.release__environments {
    align-self: center;
    z-index: 2;
    min-height: $release-card-environments-min-height;
}
