html, body, #root {
  height: 100%;
  width: 100%;
  display: flex;
}

.app-container--v2 {
  height: 100%;
  width: 100%;
  display: flex;
}

.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  position: relative;
}

.main-content {
  overflow: auto;
  position:  relative;
  padding: $main-content-padding;
  height: 100%;
}

.service-releases {
  display: flex;
  overflow-x: auto;
}
