html,
body,
#root {
    height: 100%;
    width: 100%;
    display: flex;
}

* {
    @extend .font;
}

.app-container--v2 {
    height: 100%;
    width: 100%;
    display: flex;
}

.mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
    position: relative;
}

.main-content {
    overflow: auto;
    position: relative;
    padding: $main-content-padding;
    height: 100%;
}

.font {
    font-family: 'Inter', sans-serif;
}

.headline1 {
    @extend .font;
    font-weight: 700;
    font-size: 24px;
    line-height: 38px;
}

.sub-headline1 {
    @extend .font;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
}

.text-regular {
    @extend .font;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.text-bold {
    @extend .font;
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
}

.text-medium {
    @extend .font;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}
