// Import css for all components
@import 'src/ui/components/button/button';
@import 'src/ui/components/card/card';
@import 'src/ui/components/textfield/textfield';
@import 'src/ui/components/navigation/navList';
@import 'src/ui/NavigationBar/NavigationBar';
@import 'src/ui/ReleaseCard/ReleaseCard';
@import 'src/ui/TopAppBar/TopAppBar';
@import 'src/ui/components/navigation/navListItem';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
