// Navigation variables
$nav-bar-width: 6em;
$nav-list-height: 40%;
$nav-list-item-padding: 3em;
$nav-indicator-width: 8px;
$nav-indicator-border-radius: 0px 5px 5px 0px;

//Sidebar variables
$sidebar-width: 30em;
$sidebar-planned-actions-button-margin: 1em;
$sidebar-planned-actions-title-right-centering: 9em;
$sidebar-apply-button-height: 3em;
$sidebar-apply-button-font-weight: 1.5em;
$sidebar-planned-actions-border-radius: 1em 0 0 0;
$sidebar-apply-border-radius: 0 0 0 1em;
$sidebar-display-button-border-radius: 1em 0 0 1em;
$sidebar-hidden-displacement: -$sidebar-width;
$sidebar-transition-duration-large-screen: .4s;
$sidebar-apply-font-size: 1.5em;

// Top App Bar
$top-app-bar-padding: 2em 0 2em $nav-bar-width; // 2em on top and bottom each
$top-app-bar-height: 8em; // 8em = 128px
$top-app-bar-search-field-width: 356px;
$top-app-bar-search-field-height: 48px;

$locks-list-header-border-radius: 10px;
$locks-list-header-height: 3em;
$locks-list-header-padding: .5em;
$locks-list-header-line-height: 2em;
$locks-list-header-font-size: 1.1em;
$locks-list-row-spacing: -.3em 0;
$locks-list-row-height: 3.5em;
$locks-list-row-margin: .5em;
$locks-button-delete-height: 4em;
$locks-date-outdated-color: #FF8A00;
$locks-row-font-size: 16px;
$locks-header-font-size: 28px;
$locks-subheader-font-size: 18px;
$locks-subheader-line-height: 2em;
$locks-list-margin: 0 0 2em 0;


// Logo
// 6em = 96px - Logo_width(60px) = 36px / 2 = 18px
// top_bar_height(8em) = 128px - Logo_height(72px) = 56px / 2 = 28px
$kp-logo-padding: 28px 18px;

// Logo font properties from figma
$kp-logo-font-font-weight: 700;
$kp-logo-font-font-size: 28px;
$kp-logo-font-line-height: 93%;

// Main content padding
$main-content-padding: ($top-app-bar-height + 0.5em) 2em 2em ($nav-bar-width + 2em);

:root {
  // Colors
  --mdc-theme-primary: #2D70D6;
  --mdc-theme-on-primary: #ffffff;
  --mdc-theme-background: #ffffff;
  --mdc-theme-surface: #F7F9FA;
  --mdc-theme-on-surface: #4A4A4A;
  --mdc-theme-secondary: #00AFFF;
  --mdc-theme-on-secondary: #FFFFFF;
}
