/*This file is part of kuberpult.

Kuberpult is free software: you can redistribute it and/or modify
it under the terms of the Expat(MIT) License as published by
the Free Software Foundation.

Kuberpult is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
MIT License for more details.

You should have received a copy of the MIT License
along with kuberpult. If not, see <https://directory.fsf.org/wiki/License:Expat>.

Copyright 2023 freiheit.com*/
@use '../../../../node_modules/@material/tooltip/styles';

#kuberpult-tooltip {
    z-index: 1000;
    background-color: white;
    color: black;
    font-size: 14px;
    border-radius: 8px;
    .release__hash--container {
        padding: 2px 0px 0px 0px;

        .release__hash {
            padding: 0;
        }
    }
}

.mdc-tooltip.mdc-tooltip--rich2 {
    position: relative;
    // !important to overwrite the default styling of the Tooltip.
    // The `mdc-tooltip--rich` is restricted to be placed on one of the 4 corners of a component
    // https://github.com/material-components/material-components-web/blob/066d9439b7f1bf11426153573560b35462a3b9d5/packages/mdc-tooltip/README.md?plain=1#L281-L286
    left: 10px !important;
    width: $release-card-tooltip-width !important;
    .mdc-tooltip__surface {
        box-shadow: none;
        background: transparent;
        // add padding to allow for the Caret (the arrow)
        padding: 8px 0px 0px 0px;
        border-radius: $border-radius-medium;

        .mdc-tooltip__content {
            background: var(--mdc-theme-background);
            // add margin to allow for the Caret (the arrow)
            margin: 12px 0px 0px 0px;
            border: 1px solid $release-card-tooltip-border-color;
            border-radius: $border-radius-medium;
        }

        .mdc-tooltip__caret-surface-top {
            border: 1px solid $release-card-tooltip-border-color;
            border-radius: 0px;
            left: $release-card-tooltip-caret-shift-left;
        }
    }
}
