#This file is part of kuberpult.

#Kuberpult is free software: you can redistribute it and/or modify
#it under the terms of the GNU General Public License as published by
#the Free Software Foundation, either version 3 of the License, or
#(at your option) any later version.

#Kuberpult is distributed in the hope that it will be useful,
#but WITHOUT ANY WARRANTY; without even the implied warranty of
#MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
#GNU General Public License for more details.

#You should have received a copy of the GNU General Public License
#along with kuberpult.  If not, see <http://www.gnu.org/licenses/>.

#Copyright 2021 freiheit.com
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: kuberpult-frontend-service
  labels:
    app: kuberpult-frontend-service
spec:
  replicas: 2
  selector:
    matchLabels:
      app: kuberpult-frontend-service
  template:
    metadata:
      labels:
        app: kuberpult-frontend-service
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: service
        image: "{{ .Values.hub }}/{{ .Values.frontend.image }}:{{ .Values.tag }}"
        ports:
          - name: http
            containerPort: 8081
            protocol: TCP
        resources:
          limits:
            cpu: "{{ .Values.frontend.resources.limits.cpu }}"
            memory: "{{ .Values.frontend.resources.limits.memory }}"
          requests:
            cpu: "{{ .Values.frontend.resources.requests.cpu }}"
            memory: "{{ .Values.frontend.resources.requests.memory }}"
        env:
        - name: KUBERPULT_CDSERVER
          value: kuberpult-cd-service:8443
        - name: KUBERPULT_ARGOCD_BASE_URL
          value: {{ .Values.argocd.baseUrl | quote }}
        - name: LOG_FORMAT
          value: {{ .Values.log.format | quote }}
        - name: LOG_LEVEL
          value: {{ .Values.log.level | quote }}
        - name: KUBERPULT_GKE_BACKEND_SERVICE_ID
          value: "{{ .Values.gke.backend_service_id }}"
        - name: KUBERPULT_GKE_PROJECT_NUMBER
          value: "{{ .Values.gke.project_number }}"
{{- if .Values.datadogTracing.enabled }}
        - name: DD_AGENT_HOST
          valueFrom:
            fieldRef:
              fieldPath: status.hostIP
        - name: DD_ENV
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['tags.datadoghq.com/env']
        - name: DD_SERVICE
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['tags.datadoghq.com/service']
        - name: DD_VERSION
          valueFrom:
            fieldRef:
              fieldPath: metadata.labels['tags.datadoghq.com/version']
        - name: KUBERPULT_ENABLE_TRACING
          value: "{{ .Values.datadogTracing.enabled }}"
{{- end }}
{{- if .Values.auth.azureAuth.enabled }}
        - name: KUBERPULT_AZURE_ENABLE_AUTH
          value: "{{ .Values.auth.azureAuth.enabled }}"
        - name: KUBERPULT_AZURE_CLOUD_INSTANCE
          value: "{{ .Values.auth.azureAuth.cloudInstance }}"
        - name: KUBERPULT_AZURE_CLIENT_ID
          value: "{{ .Values.auth.azureAuth.clientId }}"
        - name: KUBERPULT_AZURE_TENANT_ID
          value: "{{ .Values.auth.azureAuth.tenantId }}"
        - name: KUBERPULT_AZURE_REDIRECT_URL
          value: {{ .Values.ingress.domainName | quote }} 
{{- end }}

---
apiVersion: v1
kind: Service
metadata:
  name: kuberpult-frontend-service
{{- if .Values.ingress.iap.enabled }}
  annotations:
    cloud.google.com/backend-config: '{"default": "kuberpult"}'
{{- end }}
spec:
  ports:
  - name: http
    port: 80
    targetPort: http
  selector:
    app: kuberpult-frontend-service
  type: NodePort
