# This file is part of kuberpult.

# Kuberpult is free software: you can redistribute it and/or modify
# it under the terms of the Expat(MIT) License as published by
# the Free Software Foundation.

# Kuberpult is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# MIT License for more details.

# You should have received a copy of the MIT License
# along with kuberpult. If not, see <https://directory.fsf.org/wiki/License:Expat>.

# Copyright freiheit.com

{{- if .Values.ingress.exposeReleaseEndpoint }}
{{ fail "Values.ingress.exposeReleaseEndpoint cannot be used anymore. Use the frontend service to call the /release endpoint"}}
{{ end -}}

{{- if (and (ne .Values.ingress.pathType "Prefix") (ne .Values.ingress.pathType "Exact") (ne .Values.ingress.pathType "ImplementationSpecific")) }}
{{ fail "ingress.pathType must be either Prefix, Exact, or ImplementationSpecific"}}
{{ end -}}

{{- if .Values.ingress.create }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    cert-manager.io/acme-challenge-type: dns01
    cert-manager.io/cluster-issuer: letsencrypt
{{- if .Values.ingress.annotations }}
{{ .Values.ingress.annotations | toYaml | indent 4}}
{{- end }}
  name: kuberpult
spec:
{{- if and (.Values.ingress.private) (eq .Values.kubernetesEngine "GKE") }}
  ingressClassName: "gce-private"
{{- else if .Values.ingress.ingressClassName }}
  ingressClassName: {{ .Values.ingress.ingressClassName | quote }}
{{- end }}
  rules:
  - host: {{ required ".ingress.domainName is required" .Values.ingress.domainName | quote }}
    http:
      paths:
{{- if .Values.ingress.allowedPaths.oldRestApi }}
# Old Rest API:
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /release
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /environments
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /environment-groups
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
{{- end }}
{{- if .Values.ingress.allowedPaths.restApi }}
# New API:
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /api/
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
{{- end }}
{{- if .Values.ingress.allowedPaths.dex }}
# Dex (UI Authorization flow):
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /dex
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /callback
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /token
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /login
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
{{- end }}
{{- if .Values.ingress.allowedPaths.ui }}
# UI bootstrapping:
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /ui/
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
      - pathType: Exact
        path: /
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /static/js/
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /static/css/
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /favicon.png
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
# GRPC over HTTP for UI:
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /api.v1.OverviewService/
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /api.v1.BatchService/
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /api.v1.FrontendConfigService/
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /api.v1.RolloutService/
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /api.v1.ManifestExportGitService/
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
      - pathType: { { required ".ingress.pathType is required" .Values.ingress.pathType } }
        path: /api.v1.ProductSummaryService/
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /api.v1.VersionService/
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /api.v1.EnvironmentService/
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /api.v1.ReleaseTrainPrognosisService/
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
      - pathType: {{ required ".ingress.pathType is required" .Values.ingress.pathType }}
        path: /api.v1.EslService/
        backend:
          service:
            name: kuberpult-frontend-service
            port:
              name: http
{{- end }}
  tls:
  - hosts:
    - {{ default .Values.ingress.domainName .Values.ingress.tls.host | quote}}
    secretName: {{.Values.ingress.tls.secretName | quote}}
---
{{- if .Values.ingress.iap.enabled }}
apiVersion: cloud.google.com/v1beta1
kind: BackendConfig
metadata:
  name: kuberpult
spec:
  healthCheck:
    requestPath: /healthz
    type: HTTP
  {{- if .Values.ingress.iap.timeoutSec }}
  timeoutSec: {{.Values.ingress.iap.timeoutSec}}
  {{- end }}
  iap:
    enabled: true
    oauthclientCredentials:
      secretName: {{ required ".ingress.iap.secretName is required" .Values.ingress.iap.secretName }}
{{- end }}
{{- end }}
---
{{- if .Values.ingress.experimentalVirtualservice.create }}
apiVersion: networking.istio.io/v1beta1
kind: VirtualService
metadata:
  name: kuberpult
spec:
  hosts:
    - {{ required ".ingress.domainName is required" .Values.ingress.domainName | quote }}
  gateways:
    - {{ .Values.ingress.experimentalVirtualservice.gateway }} 
  http:
    - match:
        - uri:
            exact: /
      route:
        - destination:
            host: kuberpult-frontend-service
            port:
              number: 80
    - match:
        - uri:
            prefix: /release
        - uri:
            prefix: /environments
        - uri:
            prefix: /environment-groups
        - uri:
            prefix: /api/
        - uri:
            prefix: /dex
        - uri:
            prefix: /callback
        - uri:
            prefix: /token
        - uri:
            prefix: /login
        - uri:
            prefix: /ui/
        - uri:
            prefix: /static/js/
        - uri:
            prefix: /static/css/
        - uri:
            prefix: /favicon.png
        - uri:
            prefix: /api.v1.OverviewService/
        - uri:
            prefix: /api.v1.BatchService/
        - uri:
            prefix: /api.v1.FrontendConfigService/
        - uri:
            prefix: /api.v1.RolloutService/
        - uri:
            prefix: /api.v1.GitService/
        - uri:
            prefix: /api.v1.VersionService/
        - uri:
            prefix: /api.v1.EnvironmentService/
        - uri:
            prefix: /api.v1.ReleaseTrainPrognosisService/
        - uri:
            prefix: /api.v1.EslService/
      route:
        - destination:
            host: kuberpult-frontend-service
            port:
              number: 80
{{- end }}
