@use '@material/list/mdc-list';

.mdc-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    gap: $nav-list-item-gap;
    height: 100%;

    .mdc-list-item {
        height: 100%;
        padding: $nav-list-item-padding;
        align-items: center;
    }
}
