.mdc-list-item-container {
    display: flex;
    height: $nav-list-item-height;
}

.mdc-list-item-indicator {
    background-color: transparent;
    width: $nav-indicator-width;
    border-radius: 0 $border-radius-small $border-radius-small 0;
}

.mdc-list-item-indicator--activated {
    background-color: orange;
    transition: background-color 0.2s ease-in-out;
}
