.mdc-list-item {
  height: 100%;
  padding-left: 12px;
  // padding-top: $nav-list-item-padding;
}

.mdc-list-item-container {
  display: flex;
  height: 100%;
}

.mdc-list-item-indicator {
  background-color: transparent;
  width: $nav-indicator-width;
  border-radius: $nav-indicator-border-radius;
}

.mdc-list-item-indicator--activated {
  background-color: orange;
  transition: background-color 0.2s ease-in-out;
}
