/*This file is part of kuberpult.

Kuberpult is free software: you can redistribute it and/or modify
it under the terms of the Expat(MIT) License as published by
the Free Software Foundation.

Kuberpult is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
MIT License for more details.

You should have received a copy of the MIT License
along with kuberpult. If not, see <https://directory.fsf.org/wiki/License:Expat>.

Copyright freiheit.com*/
@import '../../../assets/variables';

.k-snackbar {
    // align to the bottom of the viewport:
    position: fixed;
    bottom: 8px;
    // do not overlap with the nav bar on the left:
    margin-left: ($nav-bar-width + 0.5em);
    padding: 1em 0 1em 20px;

    color: white;

    .mdc-snackbar__surface {
        border-radius: 6px;
    }
    &.snackbar-color-error {
        background-color: var(--mdc-theme-error);
    }
    &.snackbar-color-warn {
        background-color: var(--mdc-theme-warn);
    }
    &.snackbar-color-success {
        background-color: var(--mdc-theme-success);
    }

    .mdc-button.mdc-ripple-upgraded {
        color: white;
    }

    .k-snackbar-content {
        display: flex;

        .k-snackbar-text {
            flex: 1;
            text-align: center;
        }

        .k-snackbar-button {
            margin-left: 20px;
            button {
                // the button is naturally bigger than the span (k-snackbar-text)
                // thus we reduce it, so they are aligned:
                max-height: 14px;
            }
        }
    }
}
