name: Testing
'on':
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
jobs:
  docker-build-test:
    name: "Run all UI and unit tests"
    runs-on: ubuntu-latest
    container: europe-west3-docker.pkg.dev/fdc-public-docker-registry/kuberpult/kuberpult-dependencies:0.1.1
    env:
      LD_LIBRARY_PATH: '/usr/local/lib'
      CI: true
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Install go dependencies and run tests (charts are not tested here)
        env:
          HOME: /root # set the HOME variable to access the real GOPATH. See: https://github.com/actions/runner/issues/1146
        run: make .install && make test
