name: "Execution Plan on main"
'on':
  push:
    tags-ignore:
      - "**"
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  generate_version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Get the version
        id: get_version
        run: |
          echo "::set-output name=VERSION::$(git describe --always --long --tags)"
    outputs:
      version: ${{ steps.get_version.outputs.VERSION }}

  execution-plan-pr:
    needs: generate_version
    uses: ./.github/workflows/execution-plan-snippet.yml
    with:
      trigger: main
      version: ${{ needs.generate_version.outputs.version }}
    secrets: inherit

  lint-and-test-helm-chart:
    needs: [generate_version, execution-plan-pr]
    uses: ./.github/workflows/test-helm-chart-release.yml
    with:
      version: ${{ needs.generate_version.outputs.version }}
    secrets: inherit

