name: "Execution Plan on main"
'on':
  push:
    tags-ignore:
      - "**"
    branches:
      - main

# As of now, we do not want multiple "main" pipelines to run in parallel,
# because the pipeline relies on stable git tags throughout the run.
concurrency:
  group: main
  cancel-in-progress: false

jobs:
  execution-plan:
    uses: ./.github/workflows/execution-plan-snippet.yml
    with:
      trigger: main
    secrets: inherit

  integration-tests:
    needs: [execution-plan]
    uses: ./.github/workflows/integration-tests.yml
    with:
      trigger: main
    secrets: inherit

  release:
    needs: [ integration-tests ]
    uses: ./.github/workflows/release.yml
    secrets: inherit

#  trivy-scan:
#    needs: [execution-plan]
#    uses: ./.github/workflows/trivy-scan.yml
#    with:
#      trigger: main
#    secrets: inherit
