name: "Execution Plan on Pull Request"
'on':
  pull_request:
    branches:
      - main
jobs:
  execution-plan:
    uses: ./.github/workflows/execution-plan-snippet.yml
    with:
      trigger: pull-request
    secrets: inherit

  integration-tests:
    needs: [execution-plan]
    uses: ./.github/workflows/integration-tests.yml
    with:
      trigger: pull-request

  lint-commit-message:
    needs: [integration-tests]
    uses: ./.github/workflows/
    with:
      trigger: pull-request
