name: "Execution Plan on Pull Request"
'on':
  pull_request:
    branches:
      - main
concurrency: 
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true
jobs:
  execution-plan:
    uses: ./.github/workflows/execution-plan-snippet-earthly.yml
    with:
      trigger: pull-request
    secrets: inherit

  integration-tests:
    needs: [execution-plan]
    uses: ./.github/workflows/integration-tests.yml
    with:
      trigger: pull-request
    secrets: inherit
  
  trivy-scan:
    # needs: [execution-plan]
    uses: ./.github/workflows/trivy-scan.yml
    with:
      trigger: pull-request
    secrets: inherit
