name: "Execution Plan on Pull Request"
'on':
  pull_request:
    branches:
      - main
jobs:
  execution-plan-pr:
    uses: ./.github/workflows/execution-plan-snippet.yml
    with:
      trigger: pull-request
      version: 0.0.1
    secrets: inherit
