name: "Execution Plan on main"
'on':
  push:
    tags-ignore:
      - "**"
    branches:
      - main

jobs:
  execution-plan:
    uses: ./.github/workflows/execution-plan-snippet-earthly.yml
    with:
      trigger: main
    secrets: inherit

  integration-tests:
    needs: [execution-plan]
    uses: ./.github/workflows/integration-tests.yml
    with:
      trigger: main
    secrets: inherit
  
  trivy-scan:
    needs: [execution-plan]
    uses: ./.github/workflows/trivy-scan.yml
    with:
      trigger: pull-request
    secrets: inherit