name: "Execution Plan on Pull Request"
'on':
  pull_request:
    branches:
      - main
jobs:
  execution-plan:
    uses: ./.github/workflows/execution-plan-snippet.yml
    with:
      trigger: pull-request
    secrets: inherit

  lint-and-test-helm-chart:
    needs: [execution-plan]
    uses: ./.github/workflows/test-helm-chart-release.yml
    with:
      trigger: pull-request
    secrets: inherit
    