# This runs the integration tests for kuberpult
name: "Kuberpult Integration Tests"
on:
  workflow_call:
    inputs:
      trigger:
        required: true
        type: string
        description: 'The trigger which calls the workflow, one of [pull-request, main, tag]'
jobs:
  integration-test:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    env: 
      IMAGE_REGISTRY: europe-west3-docker.pkg.dev/fdc-public-docker-registry/kuberpult
    steps: 
    - name: Checkout repository
      uses: actions/checkout@v3.1.0
      with:
        fetch-depth: 0
    - name: Install earthly
      uses: earthly/actions-setup@v1
      with:
          version: v0.8.10
    - name: Setup environment
      if: inputs.trigger == 'pull-request' || inputs.trigger == 'main'
      run: |

        if ! docker manifest inspect ${IMAGE_REGISTRY}/kuberpult-cd-service:$(make version) > /dev/null; then
          echo "No valid images found in the registry for the backend service"
          exit 1
        fi

        if ! docker manifest inspect ${IMAGE_REGISTRY}/kuberpult-frontend-service:$(make version) > /dev/null; then
          echo "No valid images found in the registry for the frontend service"
          exit 1
        fi

        if ! docker manifest inspect ${IMAGE_REGISTRY}/kuberpult-rollout-service:$(make version) > /dev/null; then
          echo "No valid images found in the registry for the rollout service"
          exit 1
        fi
        echo "IMAGE_TAG_KUBERPULT=$(make version)" >> $GITHUB_ENV
    - name: Print environment
      run: |
        echo Using registry: $IMAGE_REGISTRY
        echo Using tag: $IMAGE_TAG_KUBERPULT
        echo PR tag: $(make version)
    - name: Run helm chart tests
      run: |
        make -C charts/kuberpult test-helm
    - name: Run integration tests
      run: |
        make integration-test   
