name: Manually Release kuberpult with semantic versioning
on:
  workflow_dispatch: # In order to trigger manually
    inputs:
      ref:
        required: true
        type: string
        description: "omit the starting 'v'"

jobs:
  execution-plan:
    uses: ./.github/workflows/execution-plan-snippet.yml
    with:
      trigger: main
    secrets: inherit

#  integration-tests:
#    needs: [execution-plan]
#    uses: ./.github/workflows/integration-tests.yml
#    with:
#      trigger: main
#    secrets: inherit

  release:
    name: Release kuberpult with semantic versioning
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # needed for git describe/VERSION in Makefile
          ref: "v${{ github.event.inputs.ref }}"

      - name: Output the Ref Parameter
        run: |
          echo "The provided ref is: v${{ github.event.inputs.ref }}"
          echo "The current checked-out SHA is: $(git rev-parse HEAD)"

      - name: Run helm chart tests
        run: |
          make -C charts/kuberpult test-helm
      - name: Create helm chart for release
        run: |
          make -C charts/kuberpult release-tag VERSION=v${{ github.event.inputs.ref }}
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
            credentials_json: '${{ secrets.FDC_DEV_ENV_CI_IMAGE_READER }}'
            create_credentials_file: true
            export_environment_variables: true
      - name: Login to Google Artifact Registry
        uses: docker/login-action@v3
        with:
          registry: europe-west3-docker.pkg.dev
          username: _json_key
          password: ${{ secrets.GCP_ARTIFACT_REGISTRY_PUSH_JSON_KEY }}
      - name: Re-tag service images with release version for google docker registry
        run: |
          echo 'If this step fails, ensure that the main github action is done. We rely on it to get the docker images.'
          git fetch --tags # this should have been done by the checkout action before.
          make tag-release-images RELEASE_IMAGE_TAG=v$RELEASE_IMAGE_VERSION
        env:
          RELEASE_IMAGE_VERSION: "v${{ github.event.inputs.ref }}"
      - name: Re-tag CLI service image with release version for google docker registry
        run: |
          echo 'If this step fails, ensure that the main github action is done. We rely on it to get the docker images.'
          git fetch --tags # this should have been done by the checkout action before.
          make tag-cli-release-image RELEASE_IMAGE_TAG=v$RELEASE_IMAGE_VERSION
        env:
          RELEASE_IMAGE_VERSION: "v${{ steps.new-semrel-version.outputs.version }}"
