name: "Kuberpult Vulberability Scanning"
on:
  workflow_call:
    inputs:
      trigger:
        required: true
        type: string
        description: 'The trigger which calls the workflow, one of [pull-request, main, tag]'
jobs:
  trivy:
    runs-on: ubuntu-latest
    env: 
      IMAGE_REGISTRY: europe-west3-docker.pkg.dev/fdc-public-docker-registry/kuberpult
    permissions:
      contents: read
      id-token: write
    steps: 
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Install earthly
      uses: earthly/actions-setup@v1
      with:
          version: v0.8.13

    - name: "Authenticate to Google Cloud"
      uses: google-github-actions/auth@v2
      with:
          credentials_json: '${{ secrets.FDC_CORE_CI_IMAGE_READER }}'

    - name: Setup Image tag
      if: inputs.trigger == 'pull-request' || inputs.trigger == 'main'
      run: |
        if [[ ${{ inputs.trigger }} == "pull-request" ]]; then
          echo "IMAGE_TAG_KUBERPULT=pr-$(make version)" >> $GITHUB_ENV
        elif [[ ${{ inputs.trigger }} == "main" ]]; then
          echo "IMAGE_TAG_KUBERPULT=main-$(make version)" >> $GITHUB_ENV
        fi
    - name: Check if tag exists
      if: inputs.trigger == 'pull-request' || inputs.trigger == 'main'
      run: |
        if ! docker manifest inspect ${IMAGE_REGISTRY}/kuberpult-cd-service:${IMAGE_TAG_KUBERPULT} > /dev/null; then
          echo "No valid images found in the registry for the backend service"
          exit 1
        fi

        if ! docker manifest inspect ${IMAGE_REGISTRY}/kuberpult-frontend-service:${IMAGE_TAG_KUBERPULT} > /dev/null; then
          echo "No valid images found in the registry for the frontend service"
          exit 1
        fi

        if ! docker manifest inspect ${IMAGE_REGISTRY}/kuberpult-rollout-service:${IMAGE_TAG_KUBERPULT} > /dev/null; then
          echo "No valid images found in the registry for the rollout service"
          exit 1
        fi
    - name: Run trivy scan
      run: |
        cd trivy
        earthly +scan-all --kuberpult_version="$IMAGE_TAG_KUBERPULT" --trigger=${{ inputs.trigger }}
    - name: Archive reports
      uses: actions/upload-artifact@v4
      with:
        name: vulnerability-report
        path: trivy/kuberpult*.tar.gz
